.m_login {
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}
/* Sección de Login */
.login {
    width: 100%;
    max-width: 400px;
    padding: 20px;
}

.login h2 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 25px;
    font-size: 1.8rem;
    font-weight: 700;
}

/* Formulario */
.login form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: #9F7AEA;
    padding: 40px;
    border-radius: 20px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border-top: 5px solid #2ecc71;
    border-bottom: 5px solid #2ecc71;
}

/* Estilo de los inputs */
.login input[type="text"],
.login input[type="password"] {
    padding: 12px;
    border: 2px solid #e2e8f0;
    border-radius: 10px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}


/* El botón */
#boton_login {
    background: linear-gradient(135deg, #3B82F6 0%, #2ecc71 100%);
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;
    box-shadow: 0 4px 12px rgba(46, 204, 113, 0.2);
}

#boton_login:hover {
    transform: translateY(-2px);
    box-shadow: 0 6px 15px rgba(46, 204, 113, 0.3);
    filter: brightness(1.1);
}

/* Link de registro */
.registro-link {
    text-align: center;
    margin-top: 20px;
    font-size: 0.95rem;
    color: #40464e;
}

.btn-registro {
    color: #174692;
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    transition: color 0.3s;
}

.btn-registro:hover {
    color: #9a47a1; /* El violeta que usas en el header */
    text-decoration: underline;
}