.m_user-p{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 40px 20px;
}

#reserva-turno h2 {
    text-align: center;
    font-size: 30px;
    color: #000000;
    margin-bottom: 20px;
}

/* Panel Modificación */
.user-p form {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Dos columnas */
    gap: 20px;
    background: #60acebb9;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border-top: 5px solid #2ecc71;
}

.user-p h2 {
    text-align: center;
    color: #2c3e50;
    margin-bottom: 20px;
    font-size: 2rem;
}

/* Formulario */
.user-p form {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    background: #60acebb9;
    padding: 20px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border-top: 5px solid #2ecc71;
}

/* Estilo de los inputs */
.user-p input[type="text"],
.user-p input[type="email"],
.user-p input[type="password"] {
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    outline: none;
    transition: border-color 0.3s;
}


/* El botón */
#boton_actualizar {
    grid-column: 2; 
    background-color: #2ecc71;
    color: white;
    padding: 10px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    transition: background 0.3s;
}

#boton_actualizar:hover{
    background-color: #27ae60;
}

#boton_eliminar {
    grid-column: span 2; 
    justify-self: center; 
    width: 50%; 
    background-color: #d12d2dd2;
    color: white;
    padding: 8px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 0.8rem;
    transition: background 0.3s;
}

#boton_eliminar:hover{
    background-color: #8d3030;
}

/* Turnero
#reserva-turno {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#reserva-turno form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 20px;
    background: #9F7AEA;
    padding: 40px;
    border-radius: 12px;
    box-shadow: 0 10px 25px rgba(0, 0, 0, 0.1);
    border-top: 5px solid #2ecc71;
    width: 100%;
    max-width: 500px;
}

#reserva-turno label {
    font-weight: bold;
    color: #000000;
    margin-bottom: -5px;
}

#reserva-turno input, 
#reserva-turno select {
    padding: 12px;
    border: 1px solid #ddd;
    border-radius: 8px;
    font-size: 1rem;
    font-family: inherit;
}

#boton_turno {
    background-color: #2ecc71;
    color: white;
    padding: 12px;
    border: none;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
    font-size: 1rem;
    transition: background 0.3s;
}

#boton_turno:hover{
    background-color: #27ae60;
}
 */